.text__color--main-dark {
  color: #06067c !important; }

.text__color--alt-dark {
  color: #720675 !important; }

.text__color--main-light {
  color: #dbdce2 !important; }

.text__color--alt-light {
  color: #d708e2 !important; }

.text__align--right {
  text-align: right; }

.text__align--center {
  text-align: center; }

.margin__bottom--big {
  margin-bottom: 2em; }

.margin__top--medium {
  margin-top: 0.75em; }

html {
  scroll-behavior: smooth;
  overflow-x: hidden; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'OpenSans';
  src: url("../font/OpenSans-Regular.ttf"); }

body {
  font-family: 'OpenSans';
  font-size: 100%;
  font-weight: 700;
  line-height: 1.25em;
  color: #06067c; }

a {
  font-size: 100%;
  font-weight: 700;
  line-height: 1.25em;
  color: #06067c;
  text-decoration: none; }

.heading {
  line-height: 1.25em; }
  .heading__h1 {
    font-size: 7.2rem; }
    @media screen and (max-width: 980px) {
      .heading__h1 {
        font-size: 6rem; } }
    @media screen and (max-width: 768px) {
      .heading__h1 {
        font-size: 4.8rem; } }
  .heading__h2 {
    color: #720675;
    font-size: 4.8rem; }
    @media screen and (max-width: 980px) {
      .heading__h2 {
        font-size: 3.6rem; } }
    @media screen and (max-width: 768px) {
      .heading__h2 {
        font-size: 2.4rem; } }
  .heading__h3 {
    font-size: 3.6rem; }
    @media screen and (max-width: 980px) {
      .heading__h3 {
        font-size: 2.4rem; } }
    @media screen and (max-width: 768px) {
      .heading__h3 {
        font-size: 1.2rem; } }

.fab {
  color: #dbdce2;
  font-size: 7.2rem; }

.paragraph {
  padding-top: 1em;
  text-transform: uppercase;
  line-height: 2em;
  padding-bottom: 1em; }

.container {
  width: 100%;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto; }

.container-max {
  max-width: none; }

section {
  padding: 200px 10vw; }

img {
  width: 100%;
  height: auto; }

.row {
  display: flex;
  flex-direction: column; }
  .row__2cols {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px; }
  @media screen and (max-width: 980px) {
    .row__2cols {
      display: flex;
      flex-direction: column; } }

.header {
  position: relative; }

.nav {
  transition: all 0.3s ease-in-out;
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  z-index: 9999999;
  overflow: hidden; }
  .nav__toggler {
    display: none; }
  .nav__list {
    padding: 0 10%;
    list-style: none;
    display: flex; }
    .nav__list--item {
      padding: 10px;
      font-weight: 700;
      text-transform: uppercase; }
  .nav__scrolled {
    background-color: rgba(25, 44, 149, 0.75); }

.header__home {
  position: relative;
  background-image: linear-gradient(135deg, rgba(130, 25, 149, 0.9), rgba(25, 44, 149, 0.9)), url("../img/bg__header-home.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh; }

.header .wrapper {
  position: absolute;
  bottom: 5vh;
  right: 5vw;
  width: 75%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }

.header .widget__readmore {
  transition: all 0.3s ease-in-out;
  transform: rotate(270deg);
  position: absolute;
  left: 50px;
  bottom: 100px;
  text-transform: uppercase;
  font-weight: 700;
  font-weight: 3.6rem; }
  .header .widget__readmore:after, .header .widget__readmore:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 60%;
    border-left: 2px solid #dbdce2; }
  .header .widget__readmore:after {
    transition: all 0.3s ease-in-out;
    top: -1.5em;
    border-bottom: 2px solid #dbdce2;
    transform: skewX(-60deg) translateX(-50%); }
    .header .widget__readmore:after:hover {
      transform: skewX(-60deg) translateX(-60%); }
  .header .widget__readmore:before {
    transition: all 0.3s ease-in-out;
    top: 1.5em;
    border-top: 2px solid #dbdce2;
    transform: skewX(60deg) translateX(-50%); }
    .header .widget__readmore:before:hover {
      transform: skewX(60deg) translateX(-60%); }
  .header .widget__readmore:hover {
    transform: rotate(270deg) translateX(10px);
    color: #00da00; }
    .header .widget__readmore:hover:after, .header .widget__readmore:hover:before {
      border-color: #00da00; }
    .header .widget__readmore:hover:after {
      transform: skewX(-60deg) translateX(-65%); }
    .header .widget__readmore:hover:before {
      transform: skewX(60deg) translateX(-65%); }

.section__about .col:nth-child(1) {
  transform: translateY(-50px);
  display: flex;
  align-items: center; }

.section__about .col-skewed {
  position: relative;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 60px;
  background-color: #f8f8f8;
  transform: skewX(-15deg);
  box-shadow: 0px 15px 10px rgba(0, 0, 0, 0.3);
  z-index: 99; }
  .section__about .col-skewed * {
    transform: translateY(50px) skewX(15deg); }
  .section__about .col-skewed::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 3px solid #d708e2;
    border-radius: 5px;
    transform: translate(-20px, -20px);
    z-index: 9;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3); }

@media screen and (max-width: 980px) {
  .section__about .col:nth-child(1) {
    display: none; }
  .section__about .col-skewed {
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("../img/lektorowski.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 60px;
    transform: skewX(0); }
    .section__about .col-skewed * {
      transform: translateY(0px) skewX(0); }
    .section__about .col-skewed::after {
      content: none; } }

.section__technologies {
  background-image: linear-gradient(60deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.5)), url("../img/bg-technology.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
  .section__technologies .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }

.technologies__wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px; }
  @media screen and (max-width: 1200px) {
    .technologies__wrapper {
      grid-template-columns: repeat(3, 1fr); } }
  @media screen and (max-width: 980px) {
    .technologies__wrapper {
      grid-template-columns: repeat(2, 1fr); } }
  @media screen and (max-width: 780px) {
    .technologies__wrapper {
      grid-template-columns: repeat(1, 1fr); } }

.technologies__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  min-height: 300px; }
  .technologies__item--back, .technologies__item--front {
    transition: all 0.3s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    -webkit-backface-visibility: hidden;
    border-radius: 5px;
    padding: 20px;
    box-sizing: border-box; }
  .technologies__item--front {
    background-color: rgba(0, 0, 0, 0.3);
    border: 2px solid rgba(0, 0, 0, 0.6); }
  .technologies__item--back {
    background-color: rgba(248, 248, 248, 0.3);
    visibility: hidden;
    transform: rotateY(180deg); }
  .technologies__item:hover .technologies__item--front {
    transform: rotateY(-180deg); }
  .technologies__item:hover .technologies__item--back {
    visibility: visible;
    transition: all .75s ease;
    transform: rotateY(0); }
