.technologies{
    &__wrapper{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
        @media screen and (max-width:1200px){
            grid-template-columns: repeat(3, 1fr);
        }
        @media screen and (max-width:980px){
            grid-template-columns: repeat(2, 1fr);
        }
        @media screen and (max-width:780px){
            grid-template-columns: repeat(1, 1fr);
        }
    }
    &__item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        perspective: 150rem;
        -moz-perspective: 150rem;
        position: relative;
        min-height: 300px;


        
        &--back,&--front{
            @include defaultTransition;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;            
            -webkit-backface-visibility: hidden;
            border-radius: 5px;
            padding: 20px;
            box-sizing: border-box;
        }

        &--front{
            background-color: rgba($color-shadow,0.3);
            border:2px solid rgba($color-shadow,0.6)
        }

        &--back{
            background-color: rgba($color-white,0.3);
            visibility: hidden;
            transform: rotateY(180deg);
        }

        &:hover &--front{
            transform: rotateY(-180deg);
        }

        &:hover &--back{
            visibility: visible;
            transition: all .75s ease;
            transform: rotateY(0);
        }

    }
}