@font-face {
    font-family: 'OpenSans';
    src: url("../font/OpenSans-Regular.ttf");
  }

  body{
    font-family: 'OpenSans';
    @include defaultFont;
  }

  a{
    @include defaultFont;
    text-decoration: none;
  }

  .heading{
    line-height: 1.25em;
      &__h1{
          font-size: 7.2rem;
          @media screen and (max-width:980px){
            font-size: 6rem;
          }
          @media screen and (max-width:768px){
            font-size: 4.8rem;
          }
      }
      &__h2{
        color: $text-color-alt-dark;
        font-size: 4.8rem;
    }
    &__h3{
      font-size: 3.6rem;
  }
  }

  .fab{
    color: $text-color-main-light;
    font-size: 7.2rem;
  }

  .paragraph{
    padding-top: 1em;
    text-transform: uppercase;
    line-height: 2em;
    padding-bottom: 1em;
  }

