.header {
    &__home {
        position: relative;
        background-image: linear-gradient(135deg, rgba($bg-color-alt, 0.9), rgba($bg-color-main, 0.9)), url('../img/bg__header-home.jpg');
        background-attachment: fixed;
        @include defaultBackground;
        width: 100vw;
        height: 100vh;
    }

    .wrapper {
        position: absolute;
        bottom: 5vh;
        right: 5vw;
        width: 75%;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }

    .widget__readmore {
        @include defaultTransition;
        transform: rotate(270deg);
        position: absolute;
        left: 50px;
        bottom: 100px;
        text-transform: uppercase;
        font-weight: 700;
        font-weight: 3.6rem;

        &:after,
        &:before {
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            left: 60%;
            border-left: 2px solid $text-color-main-light;
        }

        &:after {
            @include defaultTransition;
            top: -1.5em;
            border-bottom: 2px solid $text-color-main-light;
            transform: skewX(-60deg) translateX(-50%);

            &:hover {
                transform: skewX(-60deg) translateX(-60%);
            }
        }

        &:before {
            @include defaultTransition;
            top: 1.5em;
            border-top: 2px solid $text-color-main-light;
            transform: skewX(60deg) translateX(-50%);

            &:hover {
                transform: skewX(60deg) translateX(-60%);
            }
        }

        &:hover {
            transform: rotate(270deg) translateX(10px);
            color: $color-green;

            &:after,
            &:before {
                border-color: $color-green;
            }

            &:after {

                transform: skewX(-60deg) translateX(-65%);
            }

            &:before {
                transform: skewX(60deg) translateX(-65%);
            }
        }
    }
}

.section {
    &__about {
        .col:nth-child(1) {
            transform: translateY(-50px);
            display: flex;
            align-items: center;
        }

        .col-skewed {
            position: relative;
            padding-left: 60px;
            padding-right: 60px;
            padding-bottom: 60px;
            background-color: $color-white;
            transform: skewX(-15deg);
            box-shadow: 0px 15px 10px $color-shadow;
            z-index: 99;
            * {
                transform: translateY(50px) skewX(15deg);
            }
            &::after{
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                border: 3px solid $text-color-alt-light;
                border-radius: 5px;
                transform: translate(-20px, -20px);
                z-index: 9;
                box-shadow: 0px 5px 10px $color-shadow;
            }
        }

        @media screen and (max-width:980px) {
            .col:nth-child(1) {
                display: none;
            }
            .col-skewed {
                background-image: linear-gradient(0deg,rgba(255,255,255,0.3),rgba(255,255,255,1));
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                padding: 60px;
                transform: skewX(0);

                * {
                    transform: translateY(0px) skewX(0);
                }
                &::after{
                    content: none;
                }
                .paragraph{
                    text-align: center;
                }
            }
        }
    }

    &__technologies{
        background-image: linear-gradient(60deg, rgba($color-shadow, 0.75), rgba($color-shadow, 0.5)), url('../img/bg-technology.jpg');
        background-attachment: fixed;
        @include defaultBackground;
        .row{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        }
    }
}