.text{
    &__color{
        &--main-dark{
            color: $text-color-main-dark !important;
        }
        &--alt-dark{
            color: $text-color-alt-dark !important;
        }
        &--main-light{
            color: $text-color-main-light !important;
        }
        &--alt-light{
            color: $text-color-alt-light !important;
        }
    }

    &__align{
        &--right{
            text-align: right;
        }
        &--center{
            text-align: center;
        }
    }
}

.margin{
    &__bottom{
        &--big{
            margin-bottom: 2em;
        }
    }

    &__top{
        &--medium{
            margin-top: 0.75em;
        }
    }
}

