$text-color-main-light:#dbdce2;
$text-color-alt-light:#d708e2;

$text-color-main-dark:#06067c;
$text-color-alt-dark:#720675;

$bg-color-main:#192c95;
$bg-color-alt:#821995;

$color-black:#000;
$color-white:rgb(248, 248, 248);
$color-green:rgb(0, 218, 0);

$color-shadow:rgba($color-black,0.3);

$grid-gap:40;
